# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Packer
packer_cache/
*.box

# AWS
.aws/

# Secrets
*.pem
*.key
*.p12
*.pfx
secrets/
*secret*
*credentials*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.pyc
.env

# Node
node_modules/

# Logs
*.log
